.jumbotron{
    background-color: #2ccd70;
    height: auto;
}

.img-center{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.margins{
    margin: 5%;
}

.round{
    border-radius: 0.60rem;
}

@font-face {
    font-family: consolas;
    src: url(fonts\consolas\consolas.ttf);
}

h1, h2, h3, h4, h5, h6, p, span, a{
    font-family: consolas;
}

